[submodule "duckdb"]
	path = duckdb
    url = https://github.com/grammaright/duckdb.git 
	branch = tilestore
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = git@github.com:duckdb/extension-ci-tools.git
	branch = main
